@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 13px;
}

body {
  height: 100dvh;
  color: rgb(var(--foreground-rgb));
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: textfield; /* Firefox */
}

::-webkit-scrollbar {
  width: 0.25rem;
  background: #070a0f;
}

::-webkit-scrollbar-thumb {
  background: rgb(74, 74, 74);
  border-radius: 1.5rem;
}

::-webkit-scrollbar-track {
  width: 0.375rem;
}

.van-gogh-gradient-text {
  background: linear-gradient(
      81.02deg,
      rgb(250, 85, 96) -23.49%,
      rgb(177, 75, 244) 45.66%,
      rgb(77, 145, 255) 114.8%
    )
    text;
  color: transparent;
  font-weight: 500;
}

.van-gogh-header-link {
  border-bottom: calc(0.125rem) solid rgb(114, 88, 242);
  border-top-style: solid;
  border-top-color: transparent;
  border-image-source: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  border-image-slice: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
