@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 13px;
  color-scheme: dark !important;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  height: 100dvh;
  color: rgba(255, 255, 255, 0.92)
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number {
  -moz-appearance: textfield; /* Firefox */
}

.hover-parent:hover .hover-child {
  opacity: 100;
}

::-webkit-scrollbar {
  width: 0.25rem;
  background: #070a0f;
}

::-webkit-scrollbar-thumb {
  background: rgb(74, 74, 74);
  border-radius: 1.5rem;
}

::-webkit-scrollbar-track {
  width: 0.375rem;
}

.van-gogh-gradient-text {
  background: linear-gradient(
      81.02deg,
      rgb(250, 85, 96) -23.49%,
      rgb(177, 75, 244) 45.66%,
      rgb(77, 145, 255) 114.8%
    )
    text;
  color: transparent;
  font-weight: 500;
}

.van-gogh-header-link {
  border-bottom: calc(0.125rem) solid rgb(114, 88, 242);
  border-top-style: solid;
  border-top-color: transparent;
  border-image-source: linear-gradient(
    81.02deg,
    rgb(250, 85, 96) -23.47%,
    rgb(177, 75, 244) 45.52%,
    rgb(77, 145, 255) 114.8%
  );
  border-image-slice: 1;
}

.selected-image-with-border {
  background: linear-gradient(black, black) padding-box padding-box,
    linear-gradient(
        rgb(250, 85, 96) -23.47%,
        rgb(177, 75, 244) 45.52%,
        rgb(77, 145, 255) 114.8%
      )
      border-box border-box;
}

.selected-image-with-border .image-interior {
  opacity: 0.4;
}

.image-with-border {
  background: transparent;
}

.image-with-border:hover {
  background: linear-gradient(black, black) padding-box padding-box,
    linear-gradient(
        rgb(250, 85, 96) -23.47%,
        rgb(177, 75, 244) 45.52%,
        rgb(77, 145, 255) 114.8%
      )
      border-box border-box;
}

.empty-selections-bg {
  background-image: url("/empty-selections.webp");
  background-size: contain; /* Cover the entire area of the element */
  background-position: center center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
  min-height: 18.5rem;
}

.cta-bg {
  background-image: url("/cta-background.webp");
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px calc(0.25rem) calc(0.25rem) 0px;
  min-width: 18.5rem;
}

.left-image-nav {
  left: calc(3rem * -1);
}

.right-image-nav {
  right: calc(3rem * -1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
